.dashboard:hover,
.people:hover,
.calendar:hover,
.team:hover {
	background-color: #f0f6ff;
	border-radius: 5px;
	color: #28293D;
	cursor: pointer;
}

.righttop {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 12%;
}

.righttop p {
	font-size: 300%;
	font-weight: bold;
	margin-left: 3%;
	width: 50%;
}

.righttop span {
	font-size: 45%;
	font-weight: lighter;
	margin-left: 2%;
}

.rightinfo {
	height: auto;
	background-color: white;
	flex-direction: column;
	border-radius: 10px;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-row-gap: 50px;
	padding: 3% 0% 7% 0%;
	margin: 0% 1.5%;
	margin-top: 1%;
}

.profilePic {
	display: flex;
	justify-content: center;
	font-size: 150px;
}

.profileMain {
	display: flex;
	justify-content: center;
}

.rowprofile {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 3fr;
	grid-column-gap: 20px;
	width: 100%;
	margin-left: 40px;
}

.profileInfo {}

.profileInfo p {
	font-size: 22px;
	margin-bottom: 40px;
}

.profileDetail p {
	font-size: 22px;
	margin-bottom: 40px;
	font-weight: lighter;
}